
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
 }


 body {
    font-family: sans-serif;
 }

 img {
    width: 100%
 }

 #contact-us{
   padding: 40px;
   margin: 50px;
   justify-content: center;
 }
 #nav-bar {
   padding: 20px;
   margin: 20px;
 }

 .nav-link {
   padding: 20px;
   margin: 20px;
 
